<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nerd Express | Adicionar Categoria</title>
  </head>
  <body>
    <a href="categories">Voltar </a>
    <h2>Adicionar nova categoria</h2>
    <form action="" method="post">
      <p>Nome * <input type="text" name="category" /></p>
      <p>
        <label>É super-categoria?</label>
        <select name="supercategorydropdown">
          <option value="yes">Sim</option>
          <option selected value="no">Não</option>
        </select>
      </p>
      <p>
        <label>É sub-categoria?</label>
        <select
          name="subcategorydropdown"
          id="subdropdown"
          onchange="checkOption()"
        >
          <option value="yes">Sim</option>
          <option selected value="no">Não</option>
        </select>
      </p>
      <p id="supercategoryName" style="display: none">
        <label for="supercategory">Nome da super-categoria *</label>
        <input type="text" name="supercategory" />
      </p>
      <p><input type="submit" value="Submit" /></p>
    </form>
    <br />
    <br />
    <h3>Links Rápidos</h3>
    <ul>
      <li><a href="/nerd-express.cgi/">Página Principal </a></li>
    </ul>
  </body>
  <script>
    function checkOption() {
      const dropDown = document.getElementById("subdropdown");
      const textBox = document.getElementById("supercategoryName");

      if (dropDown.value == "yes") {
        textBox.style.display = "initial";
      } else {
        textBox.style.display = "none";
      }
    }
  </script>
</html>
