<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Nerd Express | Adicionar Retalhista</title>
  </head>
  <body style="padding: 20px">
    <a href="retailers">Voltar </a>
    <h2>Adicionar novo retalhista</h2>
    <form action="" method="post">
      <p>Nome * <input type="text" name="name" /></p>
      <p>TIN * <input type="text" name="tin" /></p>
      <p><input type="submit" value="Submit" /></p>
    </form>
    <br />
    <br />
    <h3>Links Rápidos</h3>
    <ul>
      <li><a href="/nerd-express.cgi/">Página Principal </a></li>
    </ul>
  </body>
</html>
