<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <title>Nerd Express | Adicionar Retalhista</title>
  </head>
  <body style="padding: 20px">
    <nav>
      <ul>
        <li><a href="retailers">Voltar </a></li>
      </ul>
      <ul>
        <li><a href="/nerd-express.cgi/">Página Inicial </a></li>
      </ul>
    </nav>
    <h2>Adicionar novo retalhista</h2>
    <form action="" method="post">
      <div>
        <input
          type="text"
          placeholder="Nome"
          id="name"
          name="name"
          maxlength="50"
          oninput="checkOption()"
        />
      </div>
      <div>
        <input
          type="text"
          placeholder="TIN"
          id="tin"
          name="tin"
          maxlength="9"
          oninput="checkOption()"
        />
        <p style="display: initial" id="warning_tin">
          O TIN tem que ter 9 dígitos.
        </p>
        <br />
        <p style="color: red; display: none" id="warning_digits">
          O TIN só pode ser composto por números!
        </p>
      </div>
      <br />
      <p><input type="submit" id="submit" value="Submeter" disabled /></p>
    </form>
  </body>
  <script>
    function checkOption() {
      const warning_tin = document.getElementById("warning_tin");
      const warning_digits = document.getElementById("warning_digits");
      const name = document.getElementById("name");
      const tin = document.getElementById("tin");
      const submit = document.getElementById("submit");
      const numbers = /^[0-9]+$/;
      let check1,
        check2,
        check3 = false;
      if (name.value.length == 0) {
        check1 = false;
      } else {
        check1 = true;
      }
      if (tin.value.length < 9) {
        warning_tin.style.display = "initial";
        check2 = false;
      } else {
        warning_tin.style.display = "none";
        check2 = true;
      }
      if (!tin.value.match(numbers) && tin.value.length > 0) {
        warning_digits.style.display = "initial";
        check3 = false;
      } else {
        warning_digits.style.display = "none";
        check3 = true;
      }
      if (check1 && check2 && check3) {
        submit.disabled = false;
      } else {
        submit.disabled = true;
      }
    }
  </script>
</html>
