<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <title>Nerd Express | Categorias</title>
  </head>
  <body style="padding: 20px">
    {% if cursor %}
    <a href="/nerd-express.cgi/">Voltar </a>
    <h2>Lista de Categorias</h2>
    <table border="2px">
      <thead>
        <tr>
          <th>Categoria</th>
          <th>Listar</th>
          <th>Apagar</th>
        </tr>
      </thead>
      <tbody>
        {% for record in cursor %}
        <tr>
          <td>{{ record[0] }}</td>
          <td>
            <a href="listsubcategories?category={{ record[0] }}"
              >Listar Sub-Categorias
            </a>
          </td>
          <td>
            <a href="deletecategory?category={{ record[0] }}"
              >Apagar Categoria
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <a href="addcategory">Adicionar Categoria</a>
    <br />
    <h3>Links Rápidos</h3>
    <ul>
      <li><a href="/nerd-express.cgi/">Página Principal </a></li>
    </ul>
    {% else %}
    <p>Erro: não foi possível obter dados da base de dados!</p>
    {% endif %}
  </body>
</html>
