<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
    <title>Nerd Express | Sucesso!</title>
  </head>
  <body>
    <h1>Operação efetuada com sucesso!</h1>
    <img
      src="https://media.discordapp.net/attachments/948327128024383508/961712313839263744/6bsdr8.gif"
      alt="funny GIF"
      width="20%"
    />
    <br />
    <br />
    <p><a href="/nerd-express.cgi/" role="button">Página Inicial</a></p>
  </body>
</html>
